@model IEnumerable<CalendarApp.Models.Event>

<h2>Edit Event</h2>

<form method="get" asp-action="EditEvent">
    <div>
        <label for="Id">Event Title</label>
        <select id="Id" name="Id">
            <option value="">Select Event</option>
            @foreach (var event_title in ViewBag.Event)
            {
                <option value="@event_title.Id" selected="@(event_title.Id == ViewBag.SelectedEventId ? "selected" : null)">
                    @event_title.Title
                </option>
            }
        </select>
        <button type="submit">Edit Event</button>
    </div>
</form>

